<div class="navbar-wagon navbar-fixed-top">

  <!-- Flags -->
  <div class="navbar-flags">
    <a href="/" class="navbar-wagon-brand">
      <%= image_tag "uk-flag.svg.png" %>
      <%= image_tag "hungary-flag-svg.png" %>
      <%= image_tag "france-flag-svg.svg" %>
      <%= image_tag "italy-flag-svg.svg" %>
    </a>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% unless user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Home", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "The Big Day", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Travel and Accomodation", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Wedding and Holidays in Tuscany", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Our Story", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "RSVP", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Gallery", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= link_to image_tag("panni-leo.jpg", class: "avatar"), "index.html", class: "avatar" %>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

