<div class="navbar-wagon navbar-fixed-top">

  <!-- Flags -->
  <div class="navbar-flags">
      <%= link_to (image_tag "uk-flag.svg.png"), root_path(locale: 'en'), class: "navbar-wagon-brand" %>
      <%= link_to (image_tag "hungary-flag-svg.png"), root_path(locale: 'hu'), class: "navbar-wagon-brand" %>
      <%= link_to (image_tag "france-flag-svg.svg"), root_path(locale: 'fr'), class: "navbar-wagon-brand" %>
      <%= link_to (image_tag "italy-flag-svg.svg"), root_path(locale: 'it'), class: "navbar-wagon-brand" %>
    </a>
  </div>

  <!-- Avatars in the middle of the navbar -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <%= link_to image_tag("panni-leo.jpg", class: "avatar"), root_path, class: "avatar" %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% unless user_signed_in? %>

      <!-- For any users-->
      <%= link_to t('.home'), root_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t('.the_big_day'), root_path(anchor: 'the-big-day'), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t('.travel_and_accomodation'), root_path(anchor: 'travel-and-accomodation'), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t('.wedding_and_hollidays_in_tuscany'), root_path(anchor: 'wedding-and-holidays-in-tuscany'), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t('.our_story'), root_path(anchor: 'our-story'), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t('.rsvp'), rsvp_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t('.gallery'), gallery_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= link_to image_tag("panni-leo.jpg", class: "avatar"), root_path, class: "avatar" %>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "The Big Day", "#" %></li>
        <li><%= link_to "Travel and Accomodation", "#" %></li>
        <li><%= link_to "Wedding and Holidays in Tuscany", "#" %></li>
        <li><%= link_to "Our Story", "#" %></li>
        <li><%= link_to "RSVP", rsvp_path %></li>
        <li><%= link_to "Gallery", gallery_path %></li>
      </ul>
    </div>
  </div>
</div>

