<div class="container">
  <h2 class="text-center">... <%= t('.we_are_getting_married_in') %></h2>
  <div id = "clockdiv" class="profile text-center">
    <div class="stat">
      <div class="stat-content">
        <h3 class="days"></h3>
        <div class="smalltext"><p><%= t('.days') %></p></div>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3 class="hours"></h3>
        <div class="smalltext"><p><%= t('.hours') %></p></div>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3 class="minutes"></h3>
        <div class="smalltext"><p><%= t('.minutes') %></p></div>

      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3 class="seconds"></h3>
        <div class="smalltext"><p><%= t('.seconds') %></p></div>
      </div>
    </div>

  </div>
</div>
