<div class="container">
  <%= link_to "", "", name: "our-story" %>
  <h2 class="text-center title"><%= t('.our_story') %></h2>
  <div class="profile text-center">

    <div id="panni" class="description">
      <div class="description-content">
        <h3><strong>Lionel</strong></h3>
        <%= image_tag "lionel.jpg", class: "avatar-lg radius box-shadow" %>
<!--         <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quam dolor expedita, nihil sint dolores ex fuga! Omnis porro quidem itaque explicabo ad. Labore amet veniam repellat incidunt veritatis tempora. Lorem
        </p>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quam dolor expedita, nihil sint dolores ex fuga! Omnis porro quidem itaque explicabo ad. Labore amet veniam repellat incidunt veritatis tempora. Lorem
        </p>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quam dolor expedita, nihil sint dolores ex fuga! Omnis porro quidem itaque explicabo ad. Labore amet veniam repellat incidunt veritatis tempora. Lorem
        </p> -->
      </div>
    </div>

    <div id="lionel" class="description">
      <div class="description-content">
        <h3><strong>Annamária</strong></h3>
        <%= image_tag "panni.jpg", class: "avatar-lg radius box-shadow" %>
<!--         <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam expedita omnis aperiam inventore sint, nostrum provident vel cum ut beatae saepe fugiat sed tempore ducimus doloribus dolorum aut nesciunt voluptates!
        </p>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quam dolor expedita, nihil sint dolores ex fuga! Omnis porro quidem itaque explicabo ad. Labore amet veniam repellat incidunt veritatis tempora. Lorem
        </p>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quam dolor expedita, nihil sint dolores ex fuga! Omnis porro quidem itaque explicabo ad. Labore amet veniam repellat incidunt veritatis tempora. Lorem
        </p> -->
      </div>
    </div>

    <div id="panni-lionel" class="description">
      <div class="description-content">
        <h3><strong><%= t('.our_path') %></strong></h3>
        <%= image_tag "panni-leo.jpg", class: "avatar-lg radius box-shadow" %>
<!--         <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quisquam. Quibusdam repudiandae omnis suscipit hic tempore, tenetur cum laboriosam, dolor minima perferendis quos? Non repellendus repellat, possimus accusamus numquam ullam!
        </p>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quisquam. Quibusdam repudiandae omnis suscipit hic tempore, tenetur cum laboriosam, dolor minima perferendis quos? Non repellendus repellat, possimus accusamus numquam ullam!
        </p>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quisquam. Quibusdam repudiandae omnis suscipit hic tempore, tenetur cum laboriosam, dolor minima perferendis quos? Non repellendus repellat, possimus accusamus numquam ullam!
        </p> -->
      </div>
    </div>
  </div>

</div>
