<div class="container text-center">
  <%= link_to "", "", name: "practical-information" %>
  <h2 class="text-center title"><%= t('.practical_information') %></h2>

  <ul class="inbox">
    <li class="message">
      <%= image_tag "gift.png", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.wedding_gifts') %></strong></p>
        <p><%= t('.wedding_gifts_1') %></p>
        <p><%= t('.wedding_gifts_2') %></p>
        <p><%= t('.wedding_gifts_3') %></p>
        <p><%= t('.wedding_gifts_4') %></p>
        <p>
          IBAN: FR76 3000 4025 8200 0001 2541 157
        </p>
        <p>
        BIC: BNPAFRPPXXX
        </p>
        <p><%= t('.wedding_gifts_5') %></p>
        <p>
          <%= t('.french_note') %>
        </p>
      </div>
    </li>
    <li class="message">
      <%= image_tag "weather.png", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.weather') %></strong></p>
        <p><%= t('.weather_1') %></p>
        <p><%= t('.weather_2') %></p>
      </div>
    </li>
    <li class="message">
      <%= image_tag "hanger.png", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.dress_code') %></strong></p>
        <p>
          We are suggesting you to be prepared both for the heat and for a possible cool evening, and  choose the color and the style of your outfit accordingly. The main colors of the wedding are peach, beige and olive green. Guys, suit is not obligatory!
        </p>
      </div>
    </li>
    <li class="message">
      <%= image_tag "arrival_departure.svg", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.arrivals_&_departures_&_help') %></strong></p>
        <p>
          We are very thankful for the effort you are making to come and celebrate this day with us. We are aware that some of you are coming from very far,  with different arrival times.
        </p>
        <p>
          This is why we have created a <a href="http://bit.ly/arrivals-departures-help-loppiano" target="_blank">Google Form</a>, so that you can let us know the exact time of your arrival and your departure.
        </p>
        <p>
          If you need help with arriving to the location of the wedding, please let us know as soon as possible!
        </p>
        <br>
        <p>
          Would you like to help us with the preparation of the Big Day on site? Tell us in the same <a href="http://bit.ly/arrivals-departures-help-loppiano" target="_blank">Google Form</a>!
        </p>
        <br>
        <p><%= link_to t('.access_to_the_google_form'), "http://bit.ly/arrivals-departures-help-loppiano", target: "_blank", class: "btn btn-treehouse btn-small" %></p>

        <p>We wish a safe trip to all of you.</p>
        <p>👋😊😘🤩😊😘🤩😊😘🤩👋</p>
        <!-- https://unicode.org/emoji/charts/full-emoji-list.html -->
      </div>
    </li>
  </ul>
</div>
