<div class="container text-center">
  <%= link_to "", "", name: "practical-informations" %>
  <h2 class="text-center title"><%= t('.practical_informations') %></h2>

  <ul class="inbox">
    <li class="message">
      <%= image_tag "gift.png", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.wedding_gifts') %></strong></p>
        <p>Your presence at our wedding is gift enough, but if you do wish to make a gesture, a gift of cash towards our dream home would really make our day.</p>
        <p>However if you prefer to purchase a gift, feel free to surprise us in your own way.</p>
        <p>Note for the French residents guests: We would be happy to receive your gifts directly in our newly home in Paris.</p>
      </div>
    </li>
    <li class="message">
      <%= image_tag "weather.png", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.weather') %></strong></p>
        <p>
          Late spring in Tuscany means good weather and mild temperatures with long lovely sunny days. You should know that June is the month of the year with the longest days: the sun rises around 5 am and sets around 9:30 pm.
        </p>
        <p>
          These long and pleasant days are perfect to enjoy a trip to Tuscany and rain is quite rare during these month. That's when the Tuscan countryside reaches its peak of beauty and the landscape is full of many beautiful and colourful flowers.
        </p>
        <p>
          June marks the beginning of the summer season in Tuscany when the weather gets even warmer, drier and the cloud coverage decreases.
        </p>
        <p>
          The average temperature rises up to 24°C by the end of the month, created by highs of 30°C during the daytime and lows of 18°C after dark. This makes the final week of June the warmest part of the month.
        </p>
        <p>
          Although it only happens on an average of once every ten days, temperatures can sometimes rise above 34°C and drop below 11°C in Tuscany in June.
        </p>

      </div>
    </li>
    <li class="message">
      <%= image_tag "hanger.png", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.dress_code') %></strong></p>
        <p>
          Be prepared. It is going to be very warm. Choose wisely the style and the colours of your clothing.
        </p>
      </div>
    </li>
    <li class="message">
      <%= image_tag "phone.svg", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.contact_for_travel_&_accommodation') %></strong></p>
        <p>
          We are aware that you are coming from very far for some of you with different arrival times.
        </p>
        <p>
          We are very thankful for the effort you are making to come and celebrate this day with us.
        </p>
        <p>
          In case you have any problems during your travel,
        </p>
        <p>
          Please let us know by contacting Marco (+39 xx xx xx xx) by phone call, sms and/or whatsapp. He speaks Italian and English.
        </p>
        <p>
          We have noted all your request for accommodation. However if you have any problems,
        </p>
        <p>
          Do not hesitate to contact Elisabetta: +39 xx xx xx xx by phone call, sms and/or whatsapp. She speaks Italian and English.
        </p>
        <p>Have a safe trip to you all..</p>
      </div>
    </li>
  </ul>
</div>
