<div class="container text-center">
  <%= link_to "", "", name: "practical-informations" %>
  <h2 class="text-center title"><%= t('.practical_informations') %></h2>

  <ul class="inbox">
    <li class="message">
      <%= image_tag "gift.png", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.wedding_gifts') %></strong></p>
        <p>Your presence at our wedding is already an amazing gift for us, but if you do wish to make a gesture,  we would appreciate if you could contribute to our starting life financially.</p>
        <p>As we have chosen a wedding location, which is very far from our future home, it would be difficult to transport all the gifts after the wedding.</p>
        <p>However, we would happily accept a gift of cash or money transfer towards our dream home.</p>
        <p>Please, find our french bank account information below:</p>
        <p>IBAN: FR76 3000 4025 8200 0001 2541 157</p>
        <p>BIC: BNPAFRPPXXX</p>
        <p>
          Nevertheless, if you prefer to offer us a small gift, feel free to surprise us in your own way.
        </p>
        <p>
          Note for the French resident guests: We would be happy to receive your gifts directly in our new home in Paris.
        </p>
      </div>
    </li>
    <li class="message">
      <%= image_tag "weather.png", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.weather') %></strong></p>
        <p>
          Tuscany at the end of June can get really hot, the cloud coverage decreases, and the temperature often rises above 30°C, while after dark drops below 15°C.
        </p>
        <p>Important! Do not forget to have a bottle of water with you at all time!</p>
      </div>
    </li>
    <li class="message">
      <%= image_tag "hanger.png", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.dress_code') %></strong></p>
        <p>
          We are suggesting you to be prepared both for the heat and for a possible cool evening, and  choose the color and the style of your outfit accordingly. The main colors of the wedding are peach, beige and olive green. Guys, suit is not obligatory!
        </p>
      </div>
    </li>
    <li class="message">
      <%= image_tag "arrival_departure.svg", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.arrival_&_departure') %></strong></p>
        <p>
          We are very thankful for the effort you are making to come and celebrate this day with us. We are aware that some of you are coming from very far,  with different arrival times.
        </p>
        <p>
          This is why we have created a <a href="http://bit.ly/arrivals-departures-help-loppiano" target="_blank">Google Form</a>, so that you can let us know the exact time of your arrival and your departure.
        </p>
        <p>
          If you need help with arriving to the location of the wedding, please let us know as soon as possible!
        </p>
        <p>
          Would you like to help us with the preparation of the Big Day on site? Tell us in the same <a href="http://bit.ly/arrivals-departures-help-loppiano" target="_blank">Google Form</a>!
        </p>
        <p><%= link_to t('.access_to_the_google_form'), "http://bit.ly/arrivals-departures-help-loppiano", target: "_blank", class: "btn btn-treehouse btn-small" %></p>

        <p>Have a safe trip to you all.</p>
        <p>😊😘🤩😊😘🤩😊😘🤩</p>
        <!-- https://unicode.org/emoji/charts/full-emoji-list.html -->
      </div>
    </li>
  </ul>
</div>
