<div class="container">
  <h2 class="text-center"><%= t('.after')%> ...</h2>
  <div class="profile text-center">
    <div class="stat">
      <div class="stat-content">
        <h3>23</h3>
        <p><%= t('.flights') %></p>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3>758</h3>
        <p><%= t('.kms') %></p>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3>5</h3>
        <p><%= t('.countries') %></p>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3>2.6</h3>
        <p><%= t('.years') %></p>
      </div>
    </div>
  </div>
</div>
