<div class="container">
  <%= link_to "", "", name: "the-big-day" %>
  <h2 class="text-center title"><%= t('.the_big_day') %></h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
     <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url 'teotokos-4.jpg' %>);">
      <div class="card-category"><%= t('.mass') %></div>
      <div class="card-description">
        <h2><%= t('.santuario_maria_theotokos') %></h2>
        <p><strong>3:30 PM</strong></p>
      </div>
      <a class="card-link disable-click" href="" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url 'campogiallo-4.jpg' %>);">
      <div class="card-category"><%= t('.dinner') %></div>
      <div class="card-description">
        <h2>Campogiallo</h2>
        <p><strong>6:30 PM</strong></p>
      </div>
      <a class="card-link disable-click" href="#" ></a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url 'party.jpg' %>);">
      <div class="card-category"><%= t('.party') %></div>
      <div class="card-description">
        <h2>Campogiallo</h2>
        <p><strong>10:00 PM</strong></p>
      </div>
      <a class="card-link disable-click" href="#" ></a>
    </div>
  </div>
</div>
</div>
