<div class="container text-center">
  <%= link_to "", "", name: "travel-and-accomodation" %>
  <h2 class="text-center title"><%= t('.travel_and_accomodation') %></h2>

  <div class="tabs">
    <a href="#" class="tab active disable-click tab-travel"><%= t('.travel') %></a>
    <a href="#" class="tab disable-click tab-accomodation"><%= t('.accomodation') %></a>
  </div>

  <ul class="inbox inbox-travel">
    <li class="message">
      <%= image_tag "info.svg", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.how_to_arrive_to_loppiano') %></strong></p>
        <p> If you are coming from abroad and wish to arrive as fast as possible, we definitely suggest that you travel by plane.</p>
        <p>If you do not have any time pressure, and you would like to enjoy the landscape 😉, you could also consider travelling by bus, train or a car.</p>
        <p>Two of the airports closest to Loppiano are in Pisa and Florence.</p>
        <p>We recommend that you book your flights as early as possible to ensure reasonable ticket prices.</p>
      </div>
    </li>

    <li class="message">
      <%= image_tag "flight-landing.svg", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong>From Pisa Airport/Florence Airport To Firenze-Santa Maria Novella Railway Station</strong></p>
        <p><strong>From Pisa Airport</strong></p>
        <p>A small train to Pisa Central Station and from there a train to Firenze-Santa Maria Novella (75 mins - 8,40€) </p>
        <p>Or a shuttle bus to Firenze-Santa Maria Novella with Terravision Bus Service (70 mins - 6€) </p>
        <p><strong>From Florence Airport</strong></p>
        <p>Shuttles Buses go every day, from 5.30 AM to 8.30 PM (every 30 minutes) then every 60 minutes to 11:45 PM(25 mins - 6€)</p>
      </div>
    </li>

    <li class="message">
      <%= image_tag "train.png", class: "avatar-lg" %>
      <div class="message-body">
        <p><strong>From Firenze-Santa Maria Novella To Incisa</strong></p>
        <p>Take the train towards Arezzo. Stop at Incisa railway station (45 min - 5,60€).</p>
      </div>
    </li>

    <li class="message">
      <%= image_tag "bus.svg", class: "avatar-lg" %>
      <div class="message-body">
        <p><strong>From Incisa To Loppiano</strong></p>
        <p>Please, let us know the estimated time of your arrival to Incisa so that we can organise the shuttle to your accommodation.</p>
      </div>
    </li>




    <li class="message">
      <%= image_tag 'car.png', class: "avatar-lg" %>

      <div class="message-body">
        <p><strong><%= t('.address_loppiano') %></strong></p>
        <p>
          For friends and families arriving with children or staying for a family holiday,
        </p>
        <p>
          We suggest renting a car, to be more independent, and to be able to schedule your stay according to your own needs and preferences.
        </p>
      </div>
    </li>
  </ul>

  <ul class="inbox inbox-accomodation">
    <!--   <p class="text-center quote inbox-accomodation">

    </p> -->
    <li class="message">
      <%= image_tag 'info.svg', class: 'avatar-lg' %>
      <div class="message-body">
        <p>
          Do you need help with finding a suitable accommodation? We are more than happy to help you!
        </p>
        <p>
          Deadline for communicating your requests: <strong><%= l(DateTime.new(2018,3,10), format: '%a, %e %b %Y').titleize %></strong>
        </p>
        <p>
          Please, let us know your preferences as soon as possible!
        </p>
        <p>
          We have gathered some information for you:
        </p>
        <p>
          Furthermore, we are not directly in touch with these accommodations, so if you would prefer these options,
        </p>
        <p>
          We kindly ask you to do your booking personally.
        </p>

      </div>
    </li>

    <li class="message">
      <%= image_tag 'hotel.png', class: 'avatar-lg' %>
      <div class="message-body">
        <p><strong>Hotel in Incisa, single room with breakfast (45€/person/night) </strong></p>
        <p><strong>Hotel in Incisa, double room with breakfast (35€/person/night) </strong></p>
      </div>
    </li>

    <li class="message">
      <%= image_tag 'hotel.png', class: 'avatar-lg' %>
      <div class="message-body">
        <p><strong>Agriturismo in Loppiano: 22€/person/night</strong></p>
        <p><strong>Important!!!</strong></p>
        <p>We recommend this option only for guests arriving by car, or renting a car upon arrival,</p>
        <p>As there will be no shuttle service to these accommodations.</p>
      </div>
      <div class="message-status">
        <p><%= link_to t('.details'), "https://www.booking.com/hotel/it/agriturismo-l-39-erba-alta-incisa-in-valdarno.html?aid=304142;label=gen173nr-1FCAEoggJCAlhYSDNYBGhxiAEBmAEUwgEKd2luZG93cyAxMMgBD9gBAegBAfgBC5ICAXmoAgM;sid=607ec78d238c9618e37f2753b7521785;all_sr_blocks=124564301_90566009_2_0_0&bshb=2&checkin=2018-06-21&checkout=2018-06-24&dest_id=-119245&dest_type=city&dist=0&group_adults=2&hapos=2&highlighted_blocks=124564301_90566009_2_0_0&hpos=2&room1=A%2CA&sb_price_type=total&show_room=124564301&srepoch=1512906822&srfid=aa87147c7e0ca7c681a034ec71a4310efe03b8a0X2&srpvid=fe4a53a2f8b40100&type=total&ucfs=1&", class: "btn btn-treehouse btn-small", target: "_blank" %></p>
      </div>
    </li>

    <li class="message">
      <%= image_tag 'hotel.png', class: 'avatar-lg' %>
      <div class="message-body">
        <p><strong>Bed and Breakfast in and around Incisa (50-70€/person/night)) </strong></p>
      </div>
      <div class="message-status">
        <p><%= link_to t('.details'), "https://www.bed-and-breakfast.it/en/incisa-in-val-d-arno", target: "_blank", class: "btn btn-treehouse btn-small" %></p>
      </div>
    </li>


  </ul>

</div>
