<div class="container text-center">
  <%= link_to "", "", name: "travel-and-accomodation" %>
  <h2 class="text-center title"><%= t('.travel_and_accomodation') %></h2>

  <div class="tabs">
    <a href="#" class="tab active disable-click tab-travel"><%= t('.travel') %></a>
    <a href="#" class="tab disable-click tab-accomodation"><%= t('.accomodation') %></a>
  </div>

  <ul class="inbox inbox-travel">
    <li class="message">
      <%= image_tag "info.svg", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.how_to_arrive_to_loppiano') %></strong></p>
        <p><%= t('.arriving_loppi_1') %></p>
        <p><%= t('.arriving_loppi_2') %></p>
        <p><%= t('.arriving_loppi_3') %></p>
        <p><%= t('.arriving_loppi_4') %></p>

      </div>
    </li>

    <li class="message">
      <%= image_tag "flight-landing.svg", class: "avatar-lg" %>
      <div class="message-body text-center">
        <p><strong><%= t('.from_pisa_florence_to_sm') %></strong></p>
        <p><strong><%= t('.from_pisa_airport') %></strong></p>
        <p><%= t('.from_pisa_airport_details_1') %></p>
        <p><%= t('.from_pisa_airport_details_2') %></p>

        <p><strong><%= t('.from_florence_airport') %></strong></p>
        <p><%= t('.from_florence_airport_details') %></p>

      </div>
      <div class="message-status">
        <p><%= link_to t('.details'), "https://www.trainline.eu/results/pisa-aeroporto/firenze-santa-maria-novella", target: "_blank", class: "btn btn-treehouse btn-small" %></p>
      </div>
    </li>

    <li class="message">
      <%= image_tag "train.png", class: "avatar-lg" %>
      <div class="message-body">
        <p><strong><%= t('.smn_to_incisa') %></strong></p>
        <p><%= t('.smn_to_incisa_details') %></p>
      </div>
      <div class="message-status">
        <p><%= link_to t('.details'), "https://www.trainline.eu/train-times/firenze-santa-maria-novella-to-incisa", target: "_blank", class: "btn btn-treehouse btn-small" %></p>
      </div>
    </li>

    <li class="message">
      <%= image_tag "bus.svg", class: "avatar-lg" %>
      <div class="message-body">
        <p><strong><%= t('.from_incisa_to_loppiano') %></strong></p>
        <p><%= t('.from_incisa_to_loppiano_details') %></p>
      </div>
    </li>


    <li class="message">
      <%= image_tag 'car.png', class: "avatar-lg" %>

      <div class="message-body">
        <p><strong><%= t('.address_loppiano') %></strong></p>
        <p><%= t('.by_car_details_1') %></p>
        <p><%= t('.by_car_details_2') %></p>

      </div>
    </li>
  </ul>

  <ul class="inbox inbox-accomodation">
    <li class="message">
      <%= image_tag 'info.svg', class: 'avatar-lg' %>
      <div class="message-body">
        <p>
          <strong><%= t('.infos_accomodation') %></strong>
        </p>
        <p>
          <%= t('.infos_accomodation_1') %>
        </p>
        <p>
          <%= t('.infos_accomodation_2') %>
        </p>
        <p>
          <%= t('.infos_accomodation_3') %>: <strong><%= l(DateTime.new(2018,3,10), format: '%a, %e %b %Y').titleize %></strong>
        </p>
        <p>
          <%= t('.infos_accomodation_4') %>
        </p>
      </div>
    </li>

    <li class="message">
      <%= image_tag 'hotel.png', class: 'avatar-lg' %>
      <div class="message-body">
        <p><strong><%= t('.hotel_single_room') %></strong></p>
        <p><strong><%= t('.hotel_double_room') %></strong></p>
      </div>
    </li>

    <li class="message">
      <%= image_tag 'hotel.png', class: 'avatar-lg' %>
      <div class="message-body">
        <p><strong><%= t('.agriturismo_loppiano') %></strong></p>
        <p><strong><%= t('.important') %> !!!</strong></p>
        <p><%= t('.agriturismo_loppiano_infos_1') %></p>
        <p><%= t('.agriturismo_loppiano_infos_2') %></p>
      </div>
    </li>

    <li class="message">
      <%= image_tag 'info.svg', class: 'avatar-lg' %>
      <div class="message-body">
        <p>
          <%= t('.infos_accomodation_6') %>
        </p>
        <p>
          <%= t('.infos_accomodation_7') %>
        </p>
      </div>
    </li>

    <li class="message">
      <%= image_tag 'hotel.png', class: 'avatar-lg' %>
      <div class="message-body">
        <p><strong>Agriturismo l'Erba Alta</strong></p>
      </div>
      <div class="message-status">
        <p><%= link_to t('.details'), "https://www.booking.com/hotel/it/agriturismo-l-39-erba-alta-incisa-in-valdarno.html?aid=304142;label=gen173nr-1FCAEoggJCAlhYSDNYBGhxiAEBmAEUwgEKd2luZG93cyAxMMgBD9gBAegBAfgBC5ICAXmoAgM;sid=bc65b37ca5e354ea24585b737b60cfcc;all_sr_blocks=124564301_90566009_2_0_0&bshb=2&checkin=2018-06-21&checkout=2018-06-24&dest_id=-119245&dest_type=city&dist=0&group_adults=2&hapos=2&highlighted_blocks=124564301_90566009_2_0_0&hpos=2&room1=A%2CA&sb_price_type=total&show_room=124564301&srepoch=1512906822&srfid=aa87147c7e0ca7c681a034ec71a4310efe03b8a0X2&srpvid=fe4a53a2f8b40100&type=total&ucfs=1&", target: "_blank", class: "btn btn-treehouse btn-small" %></p>
      </div>
    </li>

    <li class="message">
      <%= image_tag 'hotel.png', class: 'avatar-lg' %>
      <div class="message-body">
        <p><strong><%= t('.bed_and_breakfast_incisa') %></strong></p>
      </div>
      <div class="message-status">
        <p><%= link_to t('.details'), "https://www.bed-and-breakfast.it/en/incisa-in-val-d-arno", target: "_blank", class: "btn btn-treehouse btn-small" %></p>
      </div>
    </li>


  </ul>

</div>
