<div class="container">
  <%= link_to "", "", name: "wedding-and-holidays-in-tuscany" %>
  <h2 class="text-center title"><%= t('.wedding_and_holidays_in_tuscany') %></h2>
  <p class="text-center quote">
    <%= t('.holidays_infos_1') %>
  </p>
  <p class="text-center quote">
        <%= t('.holidays_infos_2') %>
    <p class="text-center quote">
          <%= t('.holidays_infos_3') %>
    </p>
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "holidays/florence.jpg" %>);">
          <div class="card-description">
            <h2><%= t('.florence') %></h2>
          </div>
          <div class="card-hover">
            <p>> <%= t('.florence_detail_1') %></p>
            <p>> <%= t('.florence_detail_2') %></p>
            <p>> <%= t('.florence_detail_3') %></p>
            <p>> <%= t('.florence_detail_4') %></p>
            <p>> <%= t('.florence_detail_5') %></p>
            <p>> <%= t('.florence_detail_6') %></p>
          </div>
          <a class="card-link disable-click" href="" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "holidays/arezzo.jpg" %>);">
          <div class="card-description">
            <h2><%= t('.arezzo') %></h2>
          </div>
          <div class="card-hover">
            <p>> <%= t('.arezzo_detail_1') %></p>
            <p>> <%= t('.arezzo_detail_2') %></p>
            <p>> <%= t('.arezzo_detail_3') %></p>
            <p>> <%= t('.arezzo_detail_4') %></p>
            <p>> <%= t('.arezzo_detail_5') %></p>
          </div>
          <a class="card-link disable-click" href="" ></a>
        </div>
      </div>



      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "holidays/siena.jpg" %>);">
          <div class="card-description">
            <h2><%= t('.siena') %></h2>
          </div>
          <div class="card-hover">
            <p>> <%= t('.siena_detail_1') %></p>
            <p>> <%= t('.siena_detail_2') %></p>
            <p>> <%= t('.siena_detail_3') %></p>
            <p>> <%= t('.siena_detail_4') %></p>
            <p>> <%= t('.siena_detail_5') %></p>
          </div>
          <a class="card-link disable-click" href="" ></a>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "holidays/lucca.jpg" %>);">
          <div class="card-description">
            <h2><%= t('.lucca') %></h2>
          </div>
          <div class="card-hover">
            <p>> <%= t('.lucca_detail_1') %></p>
            <p>> <%= t('.lucca_detail_2') %></p>
            <p>> <%= t('.lucca_detail_3') %></p>
            <p>> <%= t('.lucca_detail_4') %></p>
            <p>> <%= t('.lucca_detail_5') %></p>
          </div>
          <a class="card-link disable-click" href="" ></a>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "holidays/pisa.jpg" %>);">
          <div class="card-description">
            <h2><%= t('.pisa') %></h2>
          </div>
          <div class="card-hover">
            <p>> <%= t('.pisa_detail_1') %></p>
            <p>> <%= t('.pisa_detail_2') %></p>
            <p>> <%= t('.pisa_detail_3') %></p>
            <p>> <%= t('.pisa_detail_4') %></p>
            <p>> <%= t('.pisa_detail_5') %></p>
          </div>
          <a class="card-link disable-click" href="" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "holidays/other_city.jpg" %>);">
          <div class="card-description">
            <h2><%= t('.further_small_towns') %></h2>
          </div>
          <div class="card-hover">
          <p>> <%= t('.small_town_1') %></p>
          <p>> <%= t('.small_town_2') %></p>
          <p>> <%= t('.small_town_3') %></p>
          <p>> <%= t('.small_town_4') %></p>
          <p>> <%= t('.small_town_5') %></p>
          </div>
          <a class="card-link disable-click" href="" ></a>
        </div>
      </div>

    </div>
  </div>
